{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container text-center">
      <div class="starter-template jumbotron">
        <h1>Welcome to Budget Tool</h1>
        <p class="lead">
          Create a budget and keep track of your expenses!
        </p>
      </div>
        <div id="status">
          {% for flash_message in app.session.flashBag.get('notice') %}
              <div class="flash-notice">
                  {{ flash_message }}
              </div>
          {% endfor %}
            {#{% if errors|default %}#}
            {#<ul class="list-group col-xs-offset-3 col-xs-6">#}
                {#{% for error in errors %}#}
                    {#<li class="list-group-item list-group-item-danger">{{ error.message }}</li>#}
                {#{% endfor %}#}
            {#</ul>#}
            {#{% endif %}#}
        </div>
          <h2 class="col-xs-12">Add a budget</h2>
            {{ form_start(form) }}
            <div class="form-group col-xs-offset-3 col-xs-6">
              {{ form_row(form.title, {'value': '' }) }}
             </div>
             <div class="form-group col-xs-offset-3 col-xs-6">
              {{ form_row(form.value, {'value': '' }) }}
            </div>
            <div class="form-group col-xs-offset-4 col-xs-4">
              {{ form_row(form.startDate) }}
            </div>
            <div class="form-group col-xs-offset-4 col-xs-4">
              {{ form_row(form.endDate) }}
            </div>
              <div class="col-xs-offset-4 col-xs-4">
                  <button type="submit" class="btn btn-primary" formnovalidate>Add Budget</button>
              </div>
            {{ form_end(form) }}

      </div>
{% endblock %}
