{% extends 'base.html.twig' %}

{% block body %}
  {% include('default/navbar.html.twig') %}
    <div class="starter-template jumbotron">
        <h1>Welcome to Budget Tool</h1>
        <p class="lead">
          Create a budget and keep track of your expenses!
        </p>
      </div>
      <div class="container text-center">

        {% for type, flashes in app.session.flashbag.all %}
          {% for flash in flashes %}
              <div class="alert alert-{{ type }} fade in">
                  {{ flash }}
              </div>
          {% endfor %}
      {% endfor %}
        
        <h2>Add an initiative</h2>
    
      {{ form_start(form) }}
      <div class="form-group col-xs-offset-4 col-xs-4">
          {{ form_label(form.title) }}
          {{ form_widget(form.title, {'value': '' }) }}
         </div>
         <div class="form-group col-xs-offset-4 col-xs-4">
          {{ form_label(form.value) }}
          {{ form_widget(form.value, {'value': '' }) }}
        </div>
          <div class="col-xs-offset-4 col-xs-4">
      {{ form_end(form) }}
              <hr/>
          </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            {% if allInitiatives|default %}
            {#{% if allInitiatives is defined %}#}
              <h2>Initiatives Table</h2>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in allInitiatives %}
                    <tr>
                      <td>{{ i.id }}</td>
                      <td>{{ i.title }}</td>
                      <td>{{ i.value|number_format(4) }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %} 
          </div>
        </div>
      </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}