{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Add an initiative</h1>
            </div>

            <div id="status">
              {% for flash_message in app.session.flashBag.get('notice') %}
                  <div class="flash-notice">
                      {{ flash_message }}
                  </div>
              {% endfor %}
            </div>

            <div id="next">
                <h2>Add an initiative</h2>
                <p>
                    
                </p>
            </div>

        </div>
    </div>
    <div>
      {{ form_start(form) }}
      {{ form_widget(form.title, { 'value': '' }) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
    </div>

    <table>
    {% if allInitiatives is defined %}
      {% for i in allInitiatives %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.title }}</td>
            <td>{{ i.value }}</td>
        </tr>
     {% endfor %}

    {% endif %} 
    
    </table>
{% endblock %}

{% block stylesheets %}

{% endblock %}